<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.envelopemoney">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/envelope_money"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/envelope_money_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnvelopeMoney">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.EnvelopeMoney.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>